<div class="links scroll">
        <a class="navigation" href="{{site.baseurl}}/"><i class="fas fa-home"></i> Home</a>
        <!-- <a class="navigation" href="{{site.baseurl}}/publication/">Publications</a> -->
        <a class="navigation" href="https://drive.google.com/file/d/123tT_tcoc03UxlRxcQnRY5lragXauwxJ/view?usp=sharing" itemprop="sameAs" target="_blank"><i class="fas fa-file"></i> CV</a>
        <a class="navigation" href="https://www.github.com/{{ site.github }}" itemprop="sameAs" target="_blank"><i class="fab fa-github"></i> Github</a>
        <a class="navigation" href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a class="navigation" href="{{site.baseurl}}/projects/">Projects</a>
        <a class="navigation" href="https://scholar.google.com/citations?user=SHMLzswAAAAJ&hl=en" itemprop="sameAs" target="_blank">Google Scholar</a>
</div>
