<div class="links scroll">
        <a class="navigation" href="{{site.baseurl}}/">Home</a>
        <!-- <a class="navigation" href="{{site.baseurl}}/publication/">Publications</a> -->
        <a class="navigation" href="https://drive.google.com/file/d/123tT_tcoc03UxlRxcQnRY5lragXauwxJ/view?usp=sharing">CV</a>
        <a class="navigation" href="https://www.github.com/{{ site.github }}" itemprop="sameAs" target="_blank"><i class="fab fa-github"></i> Github</a>
        <a class="navigation" href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a class="navigation" href="{{site.baseurl}}/archive/">Blog</a>
</div>
